<ion-header>
  <ion-toolbar>
    <ion-title color="light">
      Woki
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="map">
    <ion-fab vertical="bottom" horizontal="start">
      <ion-fab-button color="dark" (click)="presentNotification()">Filter</ion-fab-button>

    </ion-fab>
    <ion-fab vertical="center" horizontal="end" slot="fixed">
    <ion-fab-button color="light" (click)="presentToast()">Search</ion-fab-button>
<!--      <ion-fab-list side="end">-->
<!--        <ion-fab-button (click)="showAlert1()"><ion-icon name="car"></ion-icon></ion-fab-button>-->
<!--        <ion-fab-button (click)="showAlert2()"><ion-icon name="airplane"></ion-icon></ion-fab-button>-->
<!--        <ion-fab-button (click)="showAlert3()"><ion-icon name="build"></ion-icon></ion-fab-button>-->
<!--      </ion-fab-list>-->
    </ion-fab>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="centerLocation()" size='small' color="light">
        <ion-icon name="locate"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>

</ion-content>

<!--<ion-footer>-->
<!--  <div class="row filter-footer">-->
<!--      <ion-row align-items-center>-->
<!--          <ion-col>-->

<!--              <ion-button class="round" color="primary-shade" ><ion-icon name="restaurant"></ion-icon></ion-button>-->
<!--          </ion-col>-->
<!--          <ion-col>-->
<!--              <ion-button class="round" color="danger" ><ion-icon name="shirt"></ion-icon></ion-button>-->
<!--          </ion-col>-->
<!--          <ion-col>-->
<!--              <ion-button class="round" color="success-shade" ><ion-icon name="cart"></ion-icon></ion-button>-->
<!--          </ion-col>-->
<!--          <ion-col>-->
<!--              <ion-button class="round" color="warning-shade" (click)="searchModal()"><ion-icon name="more"></ion-icon></ion-button>-->
<!--          </ion-col>-->
<!--      </ion-row>-->
<!--  </div>-->
<!--</ion-footer>-->


<!-- <ion-content padding>
  <ion-fab vertical="bottom" horizontal="start">
    <ion-fab-button color="dark">Filter</ion-fab-button>
    <ion-fab-list side="end">
      <ion-fab-button><ion-icon name="airplane"></ion-icon></ion-fab-button>
      <ion-fab-button><ion-icon name="car"></ion-icon></ion-fab-button>
      <ion-fab-button><ion-icon name="build"></ion-icon></ion-fab-button>
      <ion-alert-controller (click)="presentAlert()">
        <ion-icon name="calendar"></ion-icon>
      </ion-alert-controller>
    </ion-fab-list>
  </ion-fab>
</ion-content> -->




